.title {
  text-align: center;
  font-weight: 400;
  font-size: 2rem;
  margin-bottom: 1.6rem;
}

.form {
  background-color: var(--secondary);
  border-radius: 0.8rem;
  padding: 2.4rem;
  margin: 2.4rem 0;
  display: flex;
  flex-direction: column;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.6rem;
  width: 100%;
}

.inputContainer label {
  font-weight: 400;
  font-size: 1rem;
  margin-bottom: 0.8rem;
}

.inputContainer input {
  border: none;
  border-bottom: 1px solid var(--dark);
  height: 2.2rem;
}

.inputContainer input:hover,
.inputContainer input:focus {
  border-bottom: 2px solid var(--primary);
  margin-bottom: -1px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1.6rem;
}

.button {
  height: 2.2rem;
  background: var(--primary);
  border: 0 none;
  border-radius: 0.8rem;
  cursor: pointer;
  color: var(--secondary);
}
