* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  --light-background: #fff8ea;
  --primary: #ffb318;
  --secondary: #fff;
  --dark: #504538;
  --light: #b6a99a;
  --light-green: #00e2a0;
  --green: #00a96c;
  --dark-green: #005248;
  --red: #c2554f;
}

body {
  background-color: var(--light-background);
  color: var(--dark);
}

body,
input,
button,
textarea {
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  font-weight: 400;
}

textarea:focus,
input:focus,
select:focus {
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
}
