* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  --primary: #ffb318;
  --secondary: #fff;
  --dark: #3d3d3d;
}

body {
  background-color: #f3f3f3;
}

body,
input,
button,
textarea {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  font-weight: 400;
}

textarea:focus,
input:focus,
select:focus {
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
}

.container {
  width: 80%;
  max-width: 800px;
  margin: auto;
}
